@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.nav_module {
    list-style: none;
margin-top: -21px;
    width: 10%;
    height: 100%;
    background-color:   rgb(197, 101, 33);
    position: absolute;
 

    box-shadow: 3px 3px 15px rgb(97, 97, 97);
}
.nav_module a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    padding: 15px;
    margin-left: -40px;
  
    font-family: 'Lobster', cursive;



}
.nav_module a:hover{
    color: white;
    background-color: black;
  

}
.nav_module img{
    width: 100px;
    
}
